:root {
  --black: hsl(0, 0%, 7%);
  --mediumBlack: hsl(0, 0%, 15%);
  --lightblack: hsla(240, 1%, 59%, 0.5);
  --white: hsla(0, 0%, 100%, 0.8);
  --green: hsl(140, 63%, 57%);
  --red: hsl(354, 63%, 57%);
}

body {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--black);
  padding: 10px 30px;
  font-size: 16px;
}
header {
  border: none;
  border-bottom: 2px solid var(--mediumBlack);
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.typing-logo-small {
  display: none;
}
.cup {
  /* width: 8%; */
  width: 18px;
}
.personal-best-container {
  margin-right: 12px;
}
.personal-best-2 {
  display: none;
}
.personal-best-value {
  color: var(--white);
  font-weight: 100;
}
.correct {
  color: var(--green);
}

.incorrect {
  color: var(--red);
  text-decoration: underline;
}

.current {
  height: 10px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: var(--lightblack);
  text-align: center;
  animation: blinking linear 2s infinite alternate-reverse;
}

@keyframes blinking {
  from {background-color: var(--lightblack);}
  to {background-color: var(--white);}
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }
  header {
    padding: 10px 10px 20px 10px ;
    row-gap: 10px;
  }
  .type-bottom-header {
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
  }
  .cup {
    width: 16px;
  }
  .personal-best-container {
    margin-right: 0px;
  }
    .typing-logo-small {
    display: initial;
  }
  .typing-logo-large {
    display: none;
  }
  .personal-best {
    display: none;
  }
  .personal-best-2 {
    display: initial;
  }
}