:root {
  --black: hsl(0, 0%, 7%);
  --mediumBlack: hsl(0, 0%, 15%);
  --lightblack: hsla(240, 1%, 59%, 0.5);
  --white: hsla(0, 0%, 100%, 0.8);
  --green: hsl(140, 63%, 57%);
  --red: hsl(354, 63%, 57%);
}

body {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  color: white;
  background-color: var(--black);
  padding: 0.625rem 1.875rem;
  font-size: 1rem;
}
header {
  border: none;
  border-bottom: 0.125rem solid var(--mediumBlack);
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.typing-logo-small {
  display: none;
}
.cup {
  /* width: 8%; */
  width: 1.125rem;
}
.personal-best-container {
  margin-right: 0.75rem;
}
.personal-best-2 {
  display: none;
}
.personal-best-value {
  color: var(--white);
  font-weight: 100;
}
.correct {
  color: var(--green);
}

.incorrect {
  color: var(--red);
  text-decoration: underline;
}

.current {
  height: 0.625rem;
  padding: 0 0.3125rem;
  border-radius: 0.3125rem;
  background-color: var(--white);
  text-align: center;
  animation: blinking 1.5s linear 2s infinite alternate;
}

@keyframes blinking {
  from {background-color: var(--lightblack);}
  to {background-color: var(--white);}
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation-duration: 0s !important;
  }

}

@media (max-width: 37.5em) {
  body {
    padding: 0;
  }
  header {
    padding: 0.625rem 0.625rem 1.25rem 0.625rem ;
    row-gap: 0.625rem;
  }
  .type-bottom-header {
    justify-content: center;
    flex-direction: column;
    row-gap: 0.9375rem;
  }
  .cup {
    width: 1rem;
  }
  .personal-best-container {
    margin-right: 0em;
  }
    .typing-logo-small {
    display: initial;
  }
  .typing-logo-large {
    display: none;
  }
  .personal-best {
    display: none;
  }
  .personal-best-2 {
    display: initial;
  }
}