header {
  border: none;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  position: relative;
}
.pattern-confetti {
  position: absolute;
  bottom: -17em;
}
.pattern-confetti-img {
  width: 100%;
  animation: glowing 1.5s linear 0.2s infinite alternate;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.625rem;
}
.completed-icon img {
  width: 70%;
}

.base-encourage {
  text-align: center;
  font-weight: 400;
  line-height: 0.625rem;
}
.base-encourage h2 {
  letter-spacing: 0.0625rem;
}
.base-encourage p, .wpm-info div span:first-child {
  color: hsl(240, 3%, 46%);
  font-size: 0.875rem;
}

.wpm-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
.wpm-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  row-gap: 0.3125rem;
  border: 0.0625rem solid hsl(0, 0%, 15%);
  border-radius: 0.3125rem;
  min-width: 5rem;
  min-height: 3.4375rem;
}
.accuracy {
  color: hsl(354, 63%, 57%);
  font-weight: 600;
}

footer {
  display: flex;
  column-gap: 1.25rem;
}

.start-over, .learderboard {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.625rem;
  background-color: hsl(0, 0%, 100%);
  border: 0.0625rem solid hsl(240, 1%, 59%);
  font-weight: 400;
  cursor: pointer;
  margin-top: 2em;
  color: hsl(0, 0%, 15%);
  z-index: 2;
  transition: 0.3s;
}

.start-over span img {
  width: 1.5625rem;
}

.start-over:hover, .learderboard:hover {
  background-color: hsl(240, 1%, 59%);
}
.start-over:focus, .learderboard:focus {
  background-color: hsl(210, 100%, 65%);
  outline: 0.125rem solid hsl(214, 100%, 55%);
  border: 0.125rem solid hsl(0, 0%, 7%);
}

@keyframes glowing {
  from {transform: translateY(-40%);}
  to {transform: translateY(10%);}
}

@media (max-width: 37.5em) {
  main {
    margin-top: 3em;
  }
  .middle-section {
    row-gap: 1.25rem;
  }
  .pattern-confetti {
    height: 9.375rem;
    bottom: -7em;
  }

  @keyframes glowing {
    from {transform: translateY(100%);}
    to {transform: translateY(10%);}
  }
  .base-encourage h1 {
    font-size: 1.5rem;
  }
  .base-encourage p {
    line-height: 0.9375rem;
    font-size: 1rem;
  }
  .wpm-info {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.25rem;
    width: 80%;
  }
  .wpm-info div {
    min-height: 4.6875rem;
    width: 100%;
  }
  .start-over, .learderboard {
    margin-top: 3em;
  }
}