:root {
  --black: hsl(0, 0%, 7%);
  --mediumBlack: hsl(0, 0%, 15%);
  --lightBlack: hsla(240, 19%, 14%, 0.498);
  --lighterBlack: hsla(240, 1%, 59%, 0.2);
  --white: hsla(0, 0%, 100%, 0.8);
  --green: hsl(140, 63%, 57%);
  --red: hsl(354, 63%, 57%);
  --pureWhite: hsl(0, 0%, 100%);
  --yellow: hsl(49, 85%, 70%);
  --grey: hsl(240, 1%, 59%);
  --gray: hsl(240, 3%, 46%);
  --lightGrey: hsl(0, 0%, 100%, .5);
  --blue: hsl(214, 100%, 55%);
  --lightBlue: hsl(210, 100%, 65%);
}

.start-message {
  position: fixed;
  width: 100%;
  top: 11em;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: var(--lightBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
  /* width: 50%; */
}
.dif-mode-content {
  column-gap: 18px;
}
.dif-mode-content-small {
  display: none;
}
.accuracy-info {
  border: none;
  border-left: 2px solid var(--mediumBlack);
  border-right: 2px solid var(--mediumBlack);
  padding: 0 35px;
}
.mode-info {
  border: none;
  border-left: 2px solid var(--mediumBlack);
  padding: 0 10px;
}
.information {
  color: var(--gray);
}
.info {
  font-size: 18px;
}

.wpm-value {
  color: var(--pureWhite);
}
.accuracy-value {
  color: var(--red);
  font-weight: 700;
}
.time-value {
  color: var(--yellow);
}
.wpm-value, .accuracy-value, .time-value {
  font-weight: 700, bolder;
  font-size: 23px;
  margin-left: 5px;
}
.general-button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--grey);
  padding: 6px 10px;
  color: var(--white);
}
.general-button:hover {
  opacity: .8;
}
.general-button:focus {
  opacity: .9;
}
.general-button.active {
  border-color: var(--blue);
  color: var(--lightBlue);
}
.general-button.easy, .general-button.timed {
  margin-left: 10px;
}

main {
  border: none;
  border-bottom: 2px solid var(--mediumBlack);
  padding: 30px 10px 0px 10px;
}

.typing-container {
  background-color: transparent;
  margin-right: 10px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  min-height: 250px;
  position: relative;
}
.text-to-type {
  position: absolute;
  right: 20px;
  left: 20px;
  font-size: 24px;
  line-height: 30px;
  text-wrap: wrap;
  color: var(--gray);
  pointer-events: none;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.custom-container {
  z-index: 100;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  right: 0;
  column-gap: 10px;
}
#custom-textarea {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  color: var(--mediumBlack);
  background-color: var(--lightGrey);
  border: none;
  resize: none;
  outline: none;
  text-align: left;
  padding: 10px 5px 5px 10px;
  font-size: 16px;
}

#custom-textarea::placeholder {
  color: var(--yellow);
}

.go:hover {
  opacity: .8;
}
.go:focus {
  background-color: var(--pureWhite);
  color: var(--black);
  border: 1px solid var(--pureWhite);
}

.text-area {
  position: absolute;
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  z-index: 2;
  caret-color: var(--grey);
  border: none;
  border-radius: 10px;
  resize: none;
  outline: none;
  padding: 24px 0px;
  min-height: 250px;
  background-color: transparent;
  letter-spacing: 2px;
  white-space: pre-wrap;
  color: transparent;
}

footer {
  margin-top: 40px;
}
.restart {
  border: none;
  background-color: var(--mediumBlack);
  font-size: 18px;
  padding: 15px 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  transition: .15s;
}

.start-button {
  background-color: var(--blue);
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  color: var(--pureWhite);
  transition: .15s;
}

.text-to-type {
  filter: blur(3px);
}
.restart {
  display: none;
}
  
.start-button:hover, .restart:hover {
  background-color: var(--lightBlue);
  opacity: 1;
}
.start-button:focus, .restart:focus {
  outline: 1px solid var(--lightBlue);
  border: 2px solid var(--black);
  opacity: 1;
}

@media (max-width: 600px) {
  .content {
    column-gap: 24px;
    justify-content: center;
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
  }
  .accuracy-info {
    padding: 0 20px;
  }
  .dif-mode-content-small {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }
  .dif-mode-content-small .drop-down {
    background-color: var(--mediumBlack);
    color: var(--pureWhite);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px 0;
    position: absolute;
    display: none;
    cursor: pointer;
    transition: .15s;
  }
  .drop-down label input, .drop-down label label {
    cursor: pointer;
  }
  .drop-down-time {
    right: 20px;
    top: 10.8em;
    z-index: 4;
  }
  .drop-down-mode {
    top: 10.8em;
    z-index: 4;
  }
  .easy-time-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 15px;
  }
  .list {
    border-radius: 5px;
    border: 2px solid var(--mediumBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 50%;
    padding: 5px 0;
    cursor: pointer;
    transition: .15s;
  }
  .list:hover {
    border: 1px solid var(--gray);
  }
  .list:focus {
    border: 2px solid var(--gray);
  }
  .drop-down label:nth-child(even) {
    border: none;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    padding: 10px 0;
    width: 160px;
  }
  .passage {
    border-bottom: none;
    padding-bottom: 0;
  }
  .dif-mode-content {
    display: none;
  }
  .text-to-type {
    font-size: 16px;
    letter-spacing: 0;
  }
  .text-area {
    min-height: 350px;
    font-size: 16px;
    padding-top: 15px;
    letter-spacing: 0px;
  }
  main {
    padding: 20px 0px 0px 5px;
  }
  footer {
    margin-top: 6em;
  }
}
