:root {
  --black: hsl(0, 0%, 7%);
  --mediumBlack: hsl(0, 0%, 15%);
  --lightBlack: hsla(240, 19%, 14%, 0.498);
  --lighterBlack: hsla(240, 1%, 59%, 0.2);
  --white: hsla(0, 0%, 100%, 0.8);
  --green: hsl(140, 63%, 57%);
  --red: hsl(354, 63%, 57%);
  --pureWhite: hsl(0, 0%, 100%);
  --yellow: hsl(49, 85%, 70%);
  --grey: hsl(240, 1%, 59%);
  --gray: hsl(240, 3%, 46%);
  --lightGrey: hsl(0, 0%, 100%, .5);
  --blue: hsl(214, 100%, 55%);
  --lightBlue: hsl(210, 100%, 65%);
}

.start-message {
  position: fixed;
  width: 100%;
  top: 11em;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: var(--lightBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.1875rem;
  /* width: 50%; */
}
.dif-mode-content {
  column-gap: 1.125rem;
}
.dif-mode-content-small {
  display: none;
}
.accuracy-info {
  border: none;
  border-left: 0.125rem solid var(--mediumBlack);
  border-right: 0.125rem solid var(--mediumBlack);
  padding: 0 2.1875rem;
}
.mode-info {
  border: none;
  border-left: 0.125rem solid var(--mediumBlack);
  padding: 0 0.625rem;
}
.information {
  color: var(--gray);
}
.info {
  font-size: 1.125rem;
}

.wpm-value {
  color: var(--pureWhite);
}
.accuracy-value {
  color: var(--red);
  font-weight: 700;
}
.time-value {
  color: var(--yellow);
}
.wpm-value, .accuracy-value, .time-value {
  font-weight: 700;
  font-size: 1.4375rem;
  margin-left: 0.3125rem;
}
.general-button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.625rem;
  border: 0.0625rem solid var(--grey);
  padding: 0.375rem 0.625rem;
  color: var(--white);
}
.general-button:hover {
  opacity: .8;
}
.general-button:focus {
  opacity: .9;
}
.general-button.active {
  border-color: var(--blue);
  color: var(--lightBlue);
}
.general-button.easy, .general-button.timed {
  margin-left: 0.625rem;
}

main {
  border: none;
  border-bottom: 0.125rem solid var(--mediumBlack);
  padding: 1.875rem 0.625rem 0em 0.625rem;
}

.typing-container {
  background-color: transparent;
  margin-right: 0.625rem;
  padding: 1.25rem;
  border-radius: 0.625rem;
  border: none;
  min-height: 15.625rem;
  position: relative;
}
.text-to-type {
  position: absolute;
  right: 1.25rem;
  left: 1.25rem;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-wrap: wrap;
  color: var(--gray);
  pointer-events: none;
  letter-spacing: 0.125rem;
  word-wrap: break-word;
  filter: blur(0.1875rem);
}

.custom-container {
  z-index: 100;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: flex-end;
  left: 0;
  right: 0;
  column-gap: 0.625rem;
}
.custom-textarea {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 0.625rem;
  color: var(--mediumBlack);
  background-color: var(--lightGrey);
  border: none;
  resize: none;
  outline: none;
  text-align: left;
  padding: 0.625rem 0.3125rem 0.3125rem 0.625rem;
  font-size: 1rem;
}

.custom-textarea::placeholder {
  color: var(--yellow);
}

.go:hover {
  opacity: .8;
}
.go:focus {
  background-color: var(--pureWhite);
  color: var(--black);
  border: 0.0625rem solid var(--pureWhite);
}

.text-area {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.875rem;
  z-index: 2;
  caret-color: var(--grey);
  border: none;
  border-radius: 0.625rem;
  resize: none;
  outline: none;
  padding: 1.5rem 0em;
  min-height: 15.625rem;
  background-color: transparent;
  letter-spacing: 0.125rem;
  white-space: pre-wrap;
  color: transparent;
}

footer {
  margin-top: 2.5rem;
}
.restart {
  border: none;
  background-color: var(--mediumBlack);
  font-size: 1.125rem;
  padding: 0.9375rem 1.25rem;
  margin: auto;
  display: none;
  align-items: center;
  justify-content: center;
  column-gap: 0.625rem;
  transition: .15s;
}

.start-button {
  background-color: var(--blue);
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.75rem;
  color: var(--pureWhite);
  transition: .15s;
}

.start-button:hover, .restart:hover {
  background-color: var(--lightBlue);
  opacity: 1;
}
.start-button:focus, .restart:focus {
  outline: 0.0625rem solid var(--lightBlue);
  border: 0.125rem solid var(--black);
  opacity: 1;
}

@media (max-width: 37.5em) {
  .content {
    column-gap: 1.5rem;
    justify-content: center;
    width: 100%;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3125rem;
  }
  .accuracy-info {
    padding: 0 1.25rem;
  }
  .dif-mode-content-small {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }
  .dif-mode-content-small .drop-down {
    background-color: var(--mediumBlack);
    color: var(--pureWhite);
    flex-direction: column;
    row-gap: 0.625rem;
    border-radius: 0.3125rem;
    border: none;
    padding: 0.625rem 0;
    position: absolute;
    display: none;
    cursor: pointer;
    transition: .15s;
  }
  .drop-down label input, .drop-down label label {
    cursor: pointer;
  }
  .drop-down-time {
    right: 1.25rem;
    top: 10.8em;
    z-index: 4;
  }
  .drop-down-mode {
    top: 10.8em;
    z-index: 4;
  }
  .easy-time-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 0.9375rem;
  }
  .list {
    border-radius: 0.3125rem;
    border: 0.125rem solid var(--mediumBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    width: 50%;
    padding: 0.3125rem 0;
    cursor: pointer;
    transition: .15s;
  }
  .list:hover {
    border: 0.0625rem solid var(--gray);
  }
  .list:focus {
    border: 0.125rem solid var(--gray);
  }
  .drop-down label:nth-child(even) {
    border: none;
    border-top: 0.0625rem solid var(--gray);
    border-bottom: 0.0625rem solid var(--gray);
    padding: 0.625rem 0;
    width: 10rem;
  }
  .passage {
    border-bottom: none;
    padding-bottom: 0;
  }
  .dif-mode-content {
    display: none;
  }
  .text-to-type {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .text-area {
    min-height: 21.875rem;
    font-size: 1rem;
    padding-top: 0.9375rem;
    letter-spacing: 0em;
  }
  main {
    padding: 1.25rem 0em 0em 0.3125rem;
  }
  footer {
    margin-top: 6em;
  }
}
